body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

.options-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
}

.phone-menu-toggler {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
